@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 280 56% 95%;
    --foreground: 275 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 275 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 275 10% 20%;
    --primary: 275 100% 25%;
    --primary-foreground: 280 56% 98%;
    --secondary: 280 20% 90%;
    --secondary-foreground: 275 100% 25%;
    --muted: 280 20% 90%;
    --muted-foreground: 275 10% 45%;
    --accent: 46 100% 50%;
    --accent-foreground: 46 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 280 20% 85%;
    --input: 280 20% 88%;
    --ring: 275 100% 25%;
    --chart-1: 275 100% 25%;
    --chart-2: 275 80% 50%;
    --chart-3: 46 100% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 275 20% 5%;
    --foreground: 280 56% 95%;
    --card: 275 20% 8%;
    --card-foreground: 280 56% 95%;
    --popover: 275 20% 5%;
    --popover-foreground: 280 56% 95%;
    --primary: 280 56% 95%;
    --primary-foreground: 275 100% 15%;
    --secondary: 275 20% 15%;
    --secondary-foreground: 280 56% 95%;
    --muted: 275 20% 15%;
    --muted-foreground: 280 56% 70%;
    --accent: 46 100% 50%;
    --accent-foreground: 46 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 20% 15%;
    --input: 275 20% 15%;
    --ring: 280 56% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
